.iframe{
    width:640px;
    height:100%;
}

.sugerir-cancion{
    width:490px;
    height:90%;
}
.canciones{
    width:60%;
    height:75%;
}
.map{
    width:700px;
    height:450px;
}

.loading-section{
    background:url(../images/loading.gif) center center no-repeat;
}
.regular-section{
    padding: 80px 0 80px 0;
    background-color:white;
    color: #ff61a1;
}
h3{
    text-transform: uppercase;
    /*font-family: Monserrat, sans-serif;*/
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}
.regular-section-alt{

    padding: 80px 0 80px 0;
    /*background-color:rgba(219,162,187,.25);*/
    background-color:#ff61a1;
/*rgba(256,256,256,.25);*/
}
.save-regular-section .small-icon{
    width: 110px;
}
.save-regular-section{
    padding: 00px 0 80px 0;
}
.regular-section .icon{
    width: 110px;
    background-color:#ff61a1;
    border-radius: 20px;
    padding: 10px;


}
.mini-section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.mini-section .icon{
    width: 60px;
}
.regular-section-alt .icon{
    width: 110px;
}
.section{
    /*         top: 50%; */
    /*         -ms-transform: translateY(-50%); */
    /*         transform: translateY(-50%); */
    min-height: 100vh;
    padding: 40px 0 40px 0 ;
    background-image: url('./images/fondo.jpg');
    /*         overflow: hidden; */
}
.section-new{
    /*         top: 50%; */
    /*         -ms-transform: translateY(-50%); */
    /*         transform: translateY(-50%); */
    /*min-height: 100vh;*/
    padding: 40px 0 40px 0 ;
    /*         overflow: hidden; */
}
.left{
    float: left;
    padding: 40px 0 40px 0 ;
}
.right{
    float: right;
    padding: 40px 0 40px 0 ;
}
.breadcrumb{
    display: flex;
    /*color: white;*/
    font-size:16px;
    font-family: "Tahoma",sans-serif;
    color: darkgray;
    align-items: center;

}
.breadcrumb .small-icon{
    width: 56px;
}

.breadcrumb a{
    color: lightgray;
    /*text-transform: uppercase;*/
    vertical-align: middle;
}
.breadcrumb .a-icon{
    /*color: blue;*/
    /*margin-bottom: fill;*/
}
.breadcrumb .a-text{
    /*color: blue;*/

}

.breadcrumb p{
    font-size:16px;
    font-family: "Tahoma",sans-serif;
    color: darkgray;
    /*vertical-align: middle;*/
}

.section-content-new{
    /*background: blue !important;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width:60%;
}
.section-content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width:100%;

}
.button-container{
    padding: 40px 0 40px 0 ;
}

.button{
    text-transform: uppercase;
    /*font-family: Monserrat, sans-serif;*/
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 17px;
    color: white;


    background-color: #ff61a1;/*rgb(235, 98, 239);*/
    border-radius: 20px;
    padding: 10px 40px;
    border: 1px solid #ff61a1;/*rgb(235, 98, 239);*/
    margin: 30px 30px;
}
.button:hover{
    background-color: white;
    color: rgb(235, 98, 239);
}
body {
    /*background-color: #38a4ef;*/
    /*background-image: url('../images/bg.jpeg');*/
    color:#fff;
    font-size:6px;
    text-align:center;
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    /*font-family: "Trebuchet MS",sans-serif;*/
    font-family: "Tahoma",sans-serif;
    /*font-family: "Lucida Grande",sans-serif;*/
    /*font-family: "Courier New",sans-serif;*/
/*    Times , Verdana, Helvetica ,Georgia*/
}
H1{
    text-transform: uppercase;
    /*font-family: Monserrat, sans-serif;*/
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

H2{
    /*text-transform: uppercase;*/
    /*font-family: Monserrat, sans-serif;*/
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
p{
    /*font-family: Monserrat, sans-serif;*/
    font-size: 17px;
    /*font-family: "Courier New",sans-serif;*/
    /*font-family: "Courier New",monospace;*/
}

/*todo check behaviour*/
.small-clock {
    display: block;
    margin: 0 auto;
    max-width:  50%;
    width: 50%;
    /*height: 100px;*/
    /*background-color: #000;*/
    font-size: .75rem;
    margin-top: .25rem;

}
.small-clock-item {
    font-family: Monserrat, sans-serif;
    background-color: rgba(219, 162, 187, .25);
    color: #fff;
    display: inline-block;
    text-align:center;
    font-weight:bold;
    border-radius:5%;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem;
    width: calc(10% - 2rem);
}
.small-clock-details{
    /*font-family: Monserrat, sans-serif;*/
    text-transform: uppercase;
    font-weight:lighter;
    font-size: 1rem;
}
.clock {
    display: block;
    margin: 0 auto;
    max-width:  100%;
    width: 100%;
    /*height: 100px;*/
    /*background-color: #000;*/
    font-size: .75rem;
    margin-top: .25rem;

}
.clock-item {
    font-family: Monserrat, sans-serif;
    background-color: rgba(219, 162, 187, .25);
    color: #fff;
    display: inline-block;
    text-align:center;
    font-weight:bold;
    border-radius:5%;
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0 1rem;
    width: calc(10% - 2rem);

}
.clock-details{
    /*font-family: Monserrat, sans-serif;*/
    text-transform: uppercase;
    font-weight:lighter;
    font-size: 1.5rem;
}
@media only screen and (max-width: 900px){

    /*.clock{*/
    /*    !*max-width:  100%;*!*/
    /*    font-size: .45rem;*/
    /*    margin-top: .1rem;*/
    /*}*/
    /*.clock-item{*/
    /*    font-size:1.3rem;*/
    /*    padding:0.3rem;*/
    /*    margin: 0 0.25rem;*/
    /*    width: calc(20% - 2rem);*/
    /*}*/
    /*.clock-details{*/
    /*    font-size:1rem;*/
    /*}*/
}
@media only screen and (min-width: 900px)  {
    /*.clock{*/
    /*    !*max-width:80%;*!*/
    /*    font-size: .75rem;*/
    /*    margin-top: .25rem;*/
    /*}*/
    /*.clock-item {*/
    /*    font-size: 2.5rem;*/
    /*    padding: 2rem;*/
    /*    margin: 0 1rem;*/
    /*    width: calc(10% - 2rem);*/
    /*}*/
    /*.clock-details{*/
    /*    font-size: 1.5rem;*/
    /*}*/
}
@media only screen and (min-width: 750px)  and (min-height: 1050px){
    .left{
        float: none;
        padding: 40px 0 40px 0 ;
    }
    .right{
        float: none;
        padding: 40px 0 40px 0 ;
    }
    .section-content-new{
        /*background: blue !important;*/
        margin: 0;
        position: relative;
        top: 50%;
        left: 0%;
        -ms-transform: translate(-0%, -0%);
        transform: translate(-0%, -0%);
        min-width:60%;
    }
    .section-new{
        /*         top: 50%; */
        /*         -ms-transform: translateY(-50%); */
        /*         transform: translateY(-50%); */
        /*min-height: 100vh;*/
        padding: 40px 0 40px 0 ;
        /*         overflow: hidden; */
    }
    .iframe{
        width:90%;
        height:100%;
    }

    .sugerir-cancion{
        width:100%;
        height:80%;
    }
    .canciones{
        width:90%;
        height:75%;
    }
    .clock{
        /*max-width:80%;*/
        font-size: .75rem;
        margin-top: .25rem;
    }
    .clock-item {
        font-size: 3rem;
        padding: 2rem;
        margin: 0 1rem;
        width: calc(15% - 2rem);
        /*width: calc(10% - 2rem);*/
    }
    .clock-details{
        font-size: 2rem;
    }
    .small-clock {
        font-size: .75rem;
        margin-top: .25rem;
        max-width: 100%;
        width: 100%;
    }
    .small-clock-item {
        font-size: 2rem;
        padding: 2rem;
        margin: 0 1rem;
        width: calc(10% - 2rem);
        /*max-width:  100%;*/
        /*width: 50%;*/

    }
    .small-clock-details{
        font-size: 1.5rem;
        /*font-size: 1rem;*/
    }
    H1{
        font-size: 60px;
    }
    p{
        font-size: 40px;
        font-weight: 400;
    }
    .breadcrumb .small-icon{
        width: 110px;
    }

    .breadcrumb{
        font-size:2rem;

    }
}



